body{
    font-family: 'Lato', sans-serif;
}

.menu{
    background-color:#8B0000;
    margin-top: -0.8%;
    margin-right: -0.8%;
    margin-left: -0.8%;
    margin-bottom: 100px;
    height: 13%;
    width:110%;
}
.menu h1{
    text-align: center;    
    color:  ghostwhite;
}

.menu a{
    color: ghostwhite;
    margin-left: 10%;
}


.pie{
    background-color:#8B0000;
    margin-top: 100px;
    margin-right: -0.8%;
    margin-left: -0.8%;
    margin-bottom: -0.8%;
    height: 13%;
    width:110%;
}